{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <script src="https://kit.fontawesome.com/7ccb74e647.js" crossorigin="anonymous"></script>
    <title>Flying Conditions</title>
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
  </head>
  <body>
    <div class="card-body text-center" style="width: 50%; margin-left: 25%; margin-top: 1%;">
        {% if weather.are_conditions_met == True %}
          <p> <i class="far fa-check-circle fa-lg"></i></p>
          <h3> You can fly! </h3>
          <p> James, the weather meets your training conditions! </p>
        {% endif %}

        {% if weather.are_conditions_met == False %}
          <p><i class="fas fa-exclamation-triangle"></i></p>
          <h3> You cannot fly </h3>
          <p> James, the weather does not meet your training conditions :( </p>
        {% endif %}
    </div>
    <div class="card" style="width: 50%; margin-left: 25%; margin-top: 1%; margin-bottom: 3%;">
      <div class="card-header">
        {{ weather.city }} Flight Weather Data
      </div>
      <div class="card-body">
        <h5> Temp </h5>
        <p> {{ weather.temp }} Degrees Fahrenheit</p>

        <h5> Windspeed </h5>
        <p> {{ weather.windspeed }} Knots</p>

        <h5> Wind Direction </h5>
        <p> {{ weather.degree }} Degrees </p>

        <h5> Visibility </h5>
        <p> {{ weather.visibility }} Statute Miles</p>

        <h5> Cloud Cover </h5>
        <p> {{ weather.clouds }}%</p>

        <h5> Condition </h5>
        <p> {{ weather.weather }} </p>

        <h5> Description </h5>
        <p> {{ weather.description }} </p>
      </div>
    </div>
    <h5 style="margin-left: 45%;"> Flights to {{ weather.city}} </h5>

    <table class="table table-sm table-condensed">
      <thead>
        <tr>
          <th scope="col">Flight #</th>
          <th scope="col">Registration</th>
          <th scope="col">To</th>
          <th scope="col">From</th>
          <th scope="col">ETA</th>
          <th scope="col">Lat.</th>
          <th scope="col">Long.</th>
          <th scope="col">Alt.</th>
          <th scope="col">Dir.</th>
          <th scope="col">Horiz. Speed</th>
          <th scope="col">Vert. Speed</th>
        </tr>
      </thead>
      <tbody>
        {% for flight, data in flights_to_airport.items %}
        <tr>
          <td> {{ data.flightNumber }} </td>
          <td> {{ data.flightRegistration }} </td>
          <td> {{ data.flightDestination }} </td>
          <td> {{ data.flightDeparture }} </td>
          <td> {{ data.flightEstimatedArrival }} </td>
          <td> {{ data.flightLatitude }} </td>
          <td> {{ data.flightLongitude }} </td>
          <td> {{ data.flightAltitude }} </td>
          <td> {{ data.flightDirection }} </td>
          <td> {{ data.flightSpeedHorizontal }} </td>
          <td> {{ data.flightSpeedVertical }} </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>

      <h5 style="margin-left: 45%;"> Flights from {{ weather.city }} </h5>

      <table class="table table-sm table-condensed">
        <thead>
          <tr>
            <th scope="col">Flight #</th>
            <th scope="col">Registration</th>
            <th scope="col">To</th>
            <th scope="col">From</th>
            <th scope="col">ETA</th>
            <th scope="col">Lat.</th>
            <th scope="col">Long.</th>
            <th scope="col">Alt.</th>
            <th scope="col">Dir.</th>
            <th scope="col">Horiz. Speed</th>
            <th scope="col">Vert. Speed</th>
          </tr>
        </thead>
        <tbody>
          {% for flight, data in flights_to_airport.items %}
          <tr>
            <td> {{ data.flightNumber }} </td>
            <td> {{ data.flightRegistration }} </td>
            <td> {{ data.flightDestination }} </td>
            <td> {{ data.flightDeparture }} </td>
            <td> {{ data.flightEstimatedArrival }} </td>
            <td> {{ data.flightLatitude }} </td>
            <td> {{ data.flightLongitude }} </td>
            <td> {{ data.flightAltitude }} </td>
            <td> {{ data.flightDirection }} </td>
            <td> {{ data.flightSpeedHorizontal }} </td>
            <td> {{ data.flightSpeedVertical }} </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>


  </body>

</html>
