{% load static %}<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <script src="https://kit.fontawesome.com/7ccb74e647.js" crossorigin="anonymous"></script>
    <title>Flying Conditions</title>
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
  </head>
  <body>
      <div class="card text-center" style="width: 90%; margin-top: 2%; margin-left: 5%;">
        <div class="card-body">
        <h5> FLIGHT DELAY PREDICTION ENDPOINT  </h5>
        <p> requests.get('https://weatherchecker.xyz/nehal/ml/flightdelay/', headers={'Authorization': 'Token ' + str(token)}, params={'origin': '', 'destination': '', 'carrier': ''}) </p>
        </div>
      </div>
  </body>
</html>
